In [1]:
import pandas as pd

In [15]:
sabio = pd.read_csv('sabio_df_checkpoint2.csv')
glucose_cpd = 'C00031'
phosphofructokinase_1_ko = ''

In [16]:
only_gluc_sabio = []
for ind, entry in enumerate(sabio['KEGG ID']):
    if entry == glucose_cpd:
        only_gluc_sabio.append(ind)
only_gluc_sabio = sabio.take(only_gluc_sabio, axis=0)

In [17]:
only_gluc_sabio

,Unnamed: 0,Organism,UniprotID,KEGG ID,log10_KM,Sequence
2,2,Aeropyrum pernix,Q9YA47,C00031,-1.356547,MAEVVAVDVGATWVRMAIVRGGVIEAIKRERNPGTEEGLERVLQGL...
12,12,Ascaris suum,Q6SYC5,C00031,0.672098,MSVEDSVGPLPDMNAPRARFAKGRSDSIVPTAGKEGSIIVPHLYKG...
21,26,Bos taurus,P16116,C00031,1.454845,AHNIVLYTGAKMPILGLGTWKSPPGKVTEAVKVAIDLGYRHIDCAH...
27,32,Bos taurus,P27595,C00031,-1.183618,MIAAQLLAYYFTELKDDQVKKIDKYLYAMRLSDETLLDIMNRFKKE...
96,133,Homo sapiens,P15121,C00031,1.954243,MASRLLLNNGAKMPILGLGTWKSPPGQVTEAVKVAIDVGYRHIDCA...
110,147,Homo sapiens,P35557,C00031,0.780317,MLDDRARMEAAKKEKVEQILAEFQLQEEDLKKVMRRMQKEMDRGLR...
146,188,Lactococcus lactis subsp. lactis,Q9CE25,C00031,-0.301030,MTASKIIGIDLGGTSIKFGILTLDGEVQDKWSIPTNILEDGKHIVP...
159,202,Mus musculus,Q8CFX1,C00031,3.065103,MLLAAMCLALLGCLQAQELKGHVSIILLGATGDLAKKYLWQGLFQL...
208,256,Rattus norvegicus,P27881,C00031,-1.341695,MIASHMIACLFTELNQNQVQKVDQFLYHMRLSDETLLEISRRFRKE...
264,335,Triticum aestivum,Q52QT9,C00031,0.397940,LKMLVSYVDNLPTGDEHGLFYALDLGGTNFRVLRVQLGGKEKRAVQ...

In [2]:
sabio_lac_dh = pd.read_table('sabio_lactate_dh.tsv')
lac_dh_grouped = sabio_lac_dh.groupby('EntryID')

In [15]:
dataframes = []
for entry in lac_dh_grouped:
    for ind, param in enumerate(entry[1]['parameter.name']):
        if param == 'Km':
            dataframes.append(entry[1].iloc[ind])

In [17]:
dataframes[0]

EntryID                                                           6813
Reaction                       L-Lactate + NAD+ = NADH + H+ + Pyruvate
ECNumber                                                      1.1.1.27
UniProtKB_AC                                      Q76NM3;Q71T02;P13774
Organism                                         Plasmodium falciparum
pH                                                                 7.5
parameter.name                                                      Km
parameter.type                                                      Km
parameter.associatedSpecies                                   Pyruvate
parameter.startValue                                           0.00003
parameter.endValue                                                 NaN
parameter.standardDeviation                                       3E-6
parameter.unit                                                       M
Name: 4, dtype: object

In [27]:
refined_lac_dh = pd.DataFrame(dataframes).drop(['parameter.endValue', 'parameter.name', 'parameter.type'], inplace=False, axis=1)
refined_lac_dh = refined_lac_dh.rename({'parameter.associatedSpecies' : 'Compound', 'parameter.startValue' : 'Km', 'parameter.unit' : 'unit'})
refined_lac_dh.reset_index(inplace=True)
refined_lac_dh.drop(['index'], axis=1, inplace=True)
refined_lac_dh

,EntryID,Reaction,ECNumber,UniProtKB_AC,Organism,pH,parameter.associatedSpecies,parameter.startValue,parameter.standardDeviation,parameter.unit
0,6813,L-Lactate + NAD+ = NADH + H+ + Pyruvate,1.1.1.27,Q76NM3;Q71T02;P13774,Plasmodium falciparum,7.5,Pyruvate,0.000030,3E-6,M
1,6814,L-Lactate + NAD+ = NADH + H+ + Pyruvate,1.1.1.27,Q6JH32,Plasmodium ovale,7.5,Pyruvate,0.000071,4E-6,M
2,6815,L-Lactate + NAD+ = NADH + H+ + Pyruvate,1.1.1.27,Q6JH31,Plasmodium malariae,7.5,Pyruvate,0.000140,1.8E-5,M
3,6816,L-Lactate + NAD+ = NADH + H+ + Pyruvate,1.1.1.27,Q6JH30;Q4PRK9,Plasmodium vivax,7.5,Pyruvate,0.000017,1E-6,M
4,6817,L-Lactate + NAD+ = NADH + H+ + Pyruvate,1.1.1.27,P13774;Q71T02;Q76NM3,Plasmodium falciparum,9.2,L-Lactate,0.012000,4E-4,M
...,...,...,...,...,...,...,...,...,...,...
264,64076,NAD+ + 3-(4-Hydroxyphenyl)lactate = NADH + 3-(...,1.1.1.37,Q9NJT1,Trypanosoma cruzi,7.5,3-(4-Hydroxyphenyl)pyruvate,0.000056,1.1E-5,M
265,64077,NAD+ + 3-(4-Hydroxyphenyl)lactate = NADH + 3-(...,1.1.1.37,Q9NJT1,Trypanosoma cruzi,7.5,NADH,0.000024,6E-6,M
266,64080,NAD+ + 3-(4-Hydroxyphenyl)lactate = NADH + 3-(...,1.1.1.37,Q9NJT1,Trypanosoma cruzi,9.6,NAD+,0.000042,6E-6,M
267,64081,NAD+ + 3-(4-Hydroxyphenyl)lactate = NADH + 3-(...,1.1.1.37,Q9NJT1,Trypanosoma cruzi,9.6,3-(4-Hydroxyphenyl)lactate,0.000390,3.5E-5,M
268,66161,NADPH + H+ + Pyruvate = NADP+ + D-Lactate,1.1.1.86,P05793,Escherichia coli,8.0,Pyruvate,0.001540,1.8E-4,M